.container{
  background-color:cornsilk; 
  width: 320px;
  height: 320px; 
  display: flex;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: row;
 margin: auto;
justify-content: center;
align-items: center;
border-radius: 12px;
 
}
.box{
    width: 100px;
    height: 100px;
    background-color:teal;
    margin: auto;
    border-style: solid;
    transition: 0.5s;
    border-color: teal;
   font-size: 64px;
   color: teal;  
 justify-content: center;
 align-items: center;
 display: flex;
flex-wrap: wrap;
box-shadow: rgb(38, 167, 167);

}
.body{
  margin:0;
}
.center{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
 
}
.box:hover{
  background-color: rgb(38, 167, 167) ;
  border-color: turquoise;
}
